@import "reset.css";

/***
 * containers
***/

.normal-case {
    text-transform: none !important;
}

body {
	font-family: Arial, sans-serif;
    color: #222;
    text-transform: lowercase;
}

main {
	margin: 20px;
}

.column {
    margin-right: 20px;
}

.single-column {

}

.two-column {
    width: 100%;
    display: flex;
}

.message {
    padding: 16px 0;
}

#terms {
	font-size: 9pt;
	max-width: 350px;

	border: 1px solid #ececec;
	padding: 12px;
	margin: 12px 24px 12px 0;
}

#terms h3 {
    font-size: 11pt;
    font-weight: bold;
}

#terms ul {
    list-style-type: none;
}

#terms ul li {
    margin: 4px 0 0 0;
}



.clear {
	clear: both;
}

.spacebottom {
	margin-bottom: 50px;
}

/***
 * typography
***/

h1 {
	width: 100%;
	padding: 8px 0 8px 16px;
	font-size: 24px;
	margin: 0;
	background-color: black;
	color: #eee;
}

h2 {
	text-transform: uppercase;
	font-weight: bold;

	font-size: 48pt;
}

h4 {
	color: #808080;
	font-size: 9pt;
	display: inline;
	float: left;
	margin-right: 12px;
}

#joke-setup {
	font-size: 60pt;
}

#joke-punchline, #joke-details {
	margin: 18px 0;
}

#joke-meta {
    padding: 2px 0;
}

p {
	margin: 8px 0;

}

fieldset p {
    margin: 0;
}



.midgray, .midgrey {
	color: #666666;
}

.lightgrey, .lightgray {
	color: #cccccc;
}

.error {
	background-color: #ffcccc;
	border: 1px solid #ff0000;
}

	/***
	 * links
	***/
    h1 a:visited {
        color: white;
    }

	a {
		color: blue;
	}

	a:visited {
		color: purple;
	}

	h1 a, h2 a {
		text-decoration: none;
	}


	#joke-setup a, #joke-setup a:visited {
		color: blue;
	}

	#joke-punchline a, #joke-punchline a:visited {
		color: grey;
	}


.search-result {
    font-weight: bold;
}
.search-submitter-name {
    text-transform: unset;
}

/***
 * tables
***/

table {
	border-collapse: collapse;
	margin: 16px 0;
    table-layout: auto;
}

th, td {
    text-align: left;
    vertical-align: middle;
    padding: 2px;
}

th {
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: #efefef;
}

caption {
	text-align: left;
}



/***
 * forms
***/

form {
	width: 420px;
}

	fieldset {
		border: 1px solid #cccccc;

		padding: 8px 8px;
		margin: 0 0 8px 0;
	}

	legend {
		font-weight: bold;

		margin-left: 8px;
		padding: 0 8px;
	}

	form p {
		color: #333333;
		font-size: 10pt;

		padding: 8px;
	}

    .errors-list {
        margin: 0 0 0 24px;
        padding: 12px 0 12px 8px;
        list-style-type: disc;
        color: #330909;
    }


	/***
	 * inputs
	***/

	input, textarea, select, label {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 10pt;
		padding: 3px;
	}

	input, textarea, select {
		border: 1px solid #333333;
	}

	label {
		font-weight: bold;
		text-align: right;
		float: left;
		width: 70px;
		margin-right: 8px;
	}

	input, textarea {
		width: 300px;
	}

	textarea {
		height: 80px;
	}

	input[type=submit] {
		width: 150px;
		margin: 0 0 0 250px;
	}

	input[type=image], input[type=hidden] {
		width: auto;
		height: auto;
		border: 0;
	}




/***
 * lists
***/

    /***
     * navigation
    ***/

    #navigation {
        padding: 16px 0;
    }

    #navigation ul li {
        padding: 10px;
    }

    .chevron-list {
        list-style: none;
        margin: 12px 16px;
    }

    .chevron-list li {
        position: relative;
        padding-left: 8px;
    }

    .chevron-list li::before {
        content: "\25B6";
        position: absolute;
        left: 0;
        color: #444;
        font-size: 8px;
        line-height: 2;
    }

    footer {
        color: #b0b0b0;
        font-size: 9pt;
        margin: 16px;
    }
    footer p {
        margin: 8px 0 0 0;
    }

    .terms-of-use li {
        margin-right: 5px;
        display: inline;
    }

    /***
    * tags
    ***/

    .tags-list {
        padding: 10px 0;
        list-style-type: none;
    }

    .tags-list li {
        display: inline;

    }

    .tags-list li a {
        color: #33c;
        text-decoration: none;
        padding: 2px;
        height: 100%;
        width: 100%;
    }

    .tags-list a:hover {
        text-decoration: underline;
        background-color: #cce;
    }

    .tag-match {
        font-weight: bold;
    }


    /***
    * reactions
    ***/

    #reactions {
        font-size: 24px;
        padding: 10px 0;
    }

    #reactions h3 {
        margin: 0;
        padding: 0;
        font-size: 24px;
        display: inline;

    }

    #reactions ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline;
    }

    #reactions ol li {
        display: inline;
    }

    #reactions button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .reaction-symbol {
        font-size: 24pt;
    }
    .reaction-count {
        font-size: 12px;
        color: #666;
    }