{% extends "base.html" %}

{% block title %}Add a new joke{% endblock %}

{% block content %}
    <div class="two_column">
        <div class="column" style="flex: 3;max-width: 700px;">
            <article>
                <h2>Add a new joke</h2>

                <div class="message">
                    {% if not status %}
                    <p>Use the form below to submit a joke to the site.</p>
                    <p>
                        It will be added to the review queue and approved, if
                        deemed funny.
                    </p>
                    {% elif status == "success" %}
                        <p>Thanks for the joke!</p>
                        <p>Got another one? Add it below!</p>
                    {% elif status == "error" %}
                    <p>
                        There was an error with your submission. Please try again.
                    </p>
                    {% endif %}

                    <p>
                        Or, go back to <a href="/" title="niko's corny joke machine">nikoscornyjokemachine.com</a>.
                    </p>
                </div>

                <form id="add_joke" method="post">
                    {% csrf_token %}

                    {{ form.captcha }}
                    {% if form.catcha.errors %}
                        <div class="error">
                            {{ form.captcha.errors }}
                        </div>
                    {% endif %}

                    <fieldset>
                        <legend>1. Start with your name</legend>
                        <p>
                            Jokes are searchable by name. Be sure to use the same name each time you submit a
                            joke.
                        </p>
                        <div class="form-group">
                            <label for="{{ form.submitter_name.id_for_label }}">name:</label>
                            {{ form.submitter_name }}
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>2. Now about this joke...</legend>

                        <div class="form-group">
                            <label for="{{ form.setup.id_for_label }}">setup:</label>
                            {{ form.setup }}
                        </div>
                        <div class="form-group" style="margin-top:10px;">
                            <label for="{{ form.punchline.id_for_label }}">punchline:</label>
                            {{ form.punchline }}
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>3. Tag your joke</legend>
                        <p>
                            Tag your joke with one or more keywords. Separate
                            tags with spaces. Tags must be three letters or more.
                        </p>
                        <div class="form-group">
                            <label for="{{ form.tags.id_for_label }}">tags:</label>
                            {{ form.tags }}
                        </div>
                    </fieldset>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </article>
        </div>
        <div class="column" style="flex: 1.5;">
            <aside id="terms">
                <h3>Terms of submission:</h3>
                <p>
                    All jokes go through an approval process, and may be edited.
                </p>
                <p>
                    By submitting content to <a href="http://www.nikoscornyjokemachine.com/"
                    title="niko's corny joke machine">nikoscornyjokemachine.com</a>,
                    you agree to the following:
                </p>
                <ul class="chevron_list">
                    <li>
                        The content you are submitting is not under copyright.
                    </li>
                    <li>
                        <s>The joke is at <strong>least</strong> a "groaner"</s>.
                    </li>
                    <li>
                        You're not a robot. Although if you're a funny robot, you
                        get a pass.
                    </li>
                </ul>
            </aside>
        </div>
    </div>
{% endblock %}