{% extends "base.html" %}
{% load static %}

{% block title %}Niko's Corny Joke Machine{% endblock %}

{% block content %}
    <div class="single-column">
        <article id="joke">

            <section id="joke">
                {% include "joke_types/"|add:joke_type|add:".html" %}
            </section>

            <section id="joke-meta">
                <p class="lightgray">
                    <span>joke #{{ joke.id }}</span>
                    <span class="normal-case">submitted by
                        {% spaceless %}
                        <a href="{% url "search" %}?q={{ joke.submitter_name }}">
                            {{ joke.submitter_name }}</a>
                        {% endspaceless %}
                    </span>
                    <span>on {{ joke.created_at|date:"Y-m-d" }}</span>
                </p>
            </section>

            <section id="joke-tags">
                {% include "joke_tags.html" %}
            </section>

            {% include "reactions.html" %}

            <p style="clear:left;" class="midgray">refresh the page or click the joke for a new joke.</p>

            {% include "navigation.html" %}

            {% include "joke_stats.html" %}

        </article>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        const csrf_token = "{{ csrf_token }}";
        const joke_id = {{ joke.id }};
        const react_url = "{% url "add_reaction" %}";
    </script>
    <script src="{% static "/js/reaction_handler.js" %}"></script>
{% endblock %}
