{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="single_column">
        <article id="joke">

            <h2 id="joke_setup">
                <a href="{% url "index" %}">{{ joke.setup }}</a>
            </h2>
            <h2 id="joke_punchline">
                <a href="{% url "index" %}">{{ joke.punchline }}</a>
            </h2>

            <section id="joke_meta">
                <p class="lightgray">
                    <span>joke #{{ joke.id }}</span>
                    <span class="normal_case">submitted by
                        {% spaceless %}
                        <a href="{% url "search" %}?q={{ joke.submitter_name }}">
                            {{ joke.submitter_name }}</a>
                        {% endspaceless %}
                    </span>
                    <span>on {{ joke.created_at|date:"Y-m-d" }}</span>
                </p>
            </section>

            <section id="joke_tags">
                {% include "joke_tags.html" %}
            </section>

            {% include "reactions.html" %}

            <p style="clear:left;" class="midgray">refresh the page or click the joke for a new joke.</p>

            {% include "navigation.html" %}

            {% include "joke_stats.html" %}

        </article>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        const csrf_token = "{{ csrf_token }}";
        const joke_id = {{ joke.id }};
        const react_url = "{% url "add_reaction" %}";
    </script>
    <script src="{% static "/js/reaction_handler.js" %}"></script>
{% endblock %}
